[submodule "Njalfoto-Theme"]
	path = Njalfoto-Theme
	url = https://github.com/JakobKjoller/Njalfoto-Theme.git
[submodule "njalfoto_modules"]
	path = njalfoto_modules
	url = https://github.com/JakobKjoller/njalfoto_modules.git
